#!/bin/sh
# by Jose Luis Tallon <jltallon@adv-solutions.net>

if [ -f /usr/share/debconf/confmodule ]
then
    . /usr/share/debconf/confmodule
fi
db_version 2.0

db_title "IMAP Proxy"

set -e

CONFIG=/etc/imapproxy.conf


case "$1" in
    configure|reconfigure)

        # preseed debconf with configured server_hostname if configured
        if [ -f $CONFIG ]
        then
            SERVER="$(perl -ne '/^\s*server_hostname\s*(\S+)$/ && print $1' $CONFIG)"
            [ -z "$SERVER" ] || db_set imapproxy/imap-server "$SERVER"
        fi
        db_input medium imapproxy/imap-server || true
        db_go
    ;;

    *)
        echo "config called with unknown argument \$1'" >&2
        exit 0
    ;;
esac
